@import url("https://fonts.googleapis.com/css2?family=Figtree&family=Noto+Sans:wght@500&display=swap");

:root {
  --background: #cf9a5e;
  --container: #e6c568;
  --main: #7b5e41;
}

html {
  font-family: "Figtree", sans-serif;
  font-size: 14px;
  border: 0;
  padding: 0;
  margin: 0;
  color: var(--main);
}

body {
  background-color: var(--background);
  display: flex;
  height: 90vh;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--container);
  padding: 50px;
  box-shadow: 5px 5px var(--main);
  max-width: 600px;
  margin: 50px auto;
}

.container .content {
  display: flex;
  gap: 10px;
  align-items: center;
}

p,
h2 {
  text-align: center;
  font-size: 20px;
}

h2 {
  font-size: 14px;
  font-style: italic;
}

.newQuote {
  background-color: var(--container);
  outline: none;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;

  color: var(--main);

  box-shadow: inset 0px 0px var(--main), 3px 3px var(--main);
  transition: box-shadow 0.2s ease-in-out;
}

/* .newQuote:hover {
  box-shadow: inset 3px 3px var(--main), 0px 0px var(--main);
} */
